<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-[#EEE0C9] flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <form action="/addtask" method="post">
            <textarea name="finaltask" class="border bg-[#F1F0E8] w-full h-64 p-4 border-none outline-none rounded-lg shadow-sm resize-none" placeholder="Task description"></textarea>
            <button type="submit" class="mt-4 text-white bg-[#96B6C5] hover:bg-[#8bc0d8] text-center px-5 py-2 w-full rounded-md shadow-md">Add task</button>
        </form>
    </div>
</body>
</html>
